.header {
  padding-top: 15px;
  font-size: 24px;
  color: #f9faf8;
  background-color: #1f2937;
  display: flex;
  justify-content: space-around;
}

.hero {
  background-color: #1f2937;
  display: flex;
  padding: 50px 200px;
  gap: 100px;
}

.hero img {
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: start;
  flex: 1;
}

.hero-text .main {
  text-align: left;
  font-size: 48px;
  color: #f9faf8;
}

.links {
  display: flex;
  gap: 15px;
  align-items: center;
}

a,
.secondary {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

button {
  color: #f9faf8;
  background-color: #3882f6;
  border: none;
  border-radius: 8px;
  padding: 8px;
}

/* Fonts */

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}
